# --- Python cache ---
__pycache__/
*.py[cod]
*.pyo

# --- Virtual envs ---
.venv/
venv/
env/

# --- Jupyter checkpoints ---
.ipynb_checkpoints/

# --- Data files
*.nc
*.npz
*.npy
data/
datasets/
scratch/
outputs/
samples/

# --- Model checkpoints ---
runs/
*.keras
*.weights.h5

# --- OS / editor junk ---
.DS_Store
Thumbs.db
.vscode/

# --- Docker stuff
.dockerignore
compose.yaml
dc
Dockerfile